# Load Data

In [41]:
import pandas as pd

df = pd.read_csv('wfh3_noweekends_clean.csv')

df['Shrinkage %'] = df['Shrinkage %']/100
df['Attrition %'] = df['Attrition %']/100

# convert to datetime 
df['date'] = pd.to_datetime(df['date'])

# filter on months
df = df[df['month'].isin(['August', 'September', 'October', 'November'])]
df.head()

,date,month,year,bu,Conformance %,System Outage (hrs),Unplanned out %,Shrinkage %,aht,Attrition %
1064,2019-08-01,August,2019,Client Transactions,0.826030,0.0,0.07,0.24,382.768996,0.046512
1065,2019-08-01,August,2019,Participant Transactions,0.900010,0.0,0.02,0.24,506.634718,0.035088
1066,2019-08-01,August,2019,RAM,0.975559,0.0,0.02,0.39,979.923837,0.024390
1067,2019-08-01,August,2019,RCS PHONES,NaN,0.0,0.01,0.30,NaN,0.111111
1068,2019-08-01,August,2019,RIS,1.019198,0.0,0.04,0.39,586.000000,0.022222

# What data types are in this dataset?

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1211 entries, 1064 to 3499
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 1211 non-null   datetime64[ns]
 1   month                1211 non-null   object
 2   year                 1211 non-null   int64
 3   bu                   1211 non-null   object
 4   Conformance %        804 non-null    float64
 5   System Outage (hrs)  1211 non-null   float64
 6   Unplanned out %      1139 non-null   float64
 7   Shrinkage %          1139 non-null   float64
 8   aht                  819 non-null    float64
 9   Attrition %          1038 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 104.1+ KB

# How many days are in this dataset?

In [45]:
df.shape[0]

1211

# What is the mean value for each kpi by year?

In [46]:
g = df.groupby(['year']).mean()
g

,Conformance %,System Outage (hrs),Unplanned out %,Shrinkage %,aht,Attrition %
year,,,,,,
2019,0.935353,0.866420,0.052559,0.338478,604.624853,0.040068
2020,0.954661,9.273367,0.032680,0.333309,700.925561,0.037026

# What is the percent change from 2019 to 2020

In [47]:
pct = pd.DataFrame(g.pct_change().loc[2020] * 100).T

In [48]:
pct_change = pd.concat([g,pct],0)
pct_change

,Conformance %,System Outage (hrs),Unplanned out %,Shrinkage %,aht,Attrition %
2019,0.935353,0.866420,0.052559,0.338478,604.624853,0.040068
2020,0.954661,9.273367,0.032680,0.333309,700.925561,0.037026
2020,2.064268,970.308013,-37.821277,-1.527298,15.927348,-7.591768

In [49]:
pct_change.to_csv('pct_change.csv')