In [1]:
import pandas as pd

df = pd.read_csv('../data/attrition.csv', parse_dates=['last date of month'])

df.rename(columns={'last date of month':'date'}, inplace=True)
df.head()

,BUSINESS UNIT,date,attrition,filled position,Attrition %,month,year
0,Client Transactions,2019-01-31,2,47,0.042553191,January,2019
1,Participant Transactions,2019-01-31,2,59,0.033898305,January,2019
2,RAM,2019-01-31,2,89,0.02247191,January,2019
3,RCS PHONES,2019-01-31,2,20,0.1,January,2019
4,RIS,2019-01-31,2,126,0.015873016,January,2019

In [2]:
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year

In [3]:
g = df.groupby(['date']).sum()

In [4]:
g['ds'] = g.index

In [5]:
g = g.iloc[:-1,:]

In [6]:
g = g[['ds', 'filled position']]
g.rename(columns={'filled position':'y'}, inplace=True)