In [8]:
import pandas as pd

names = ['date', 'handle_time', 'handle_time_forecast',
    'volume', 'volume_forecast']
df = pd.read_csv('../data/full_dataset.csv')
df = df.drop('Unnamed: 8', 1)
df = df.rename(columns={'BUSINESS LINE':'bu','Sum of TOTAL TIME - AHT (sec)': 'handle_time', 
                   'Sum of TOTAL TIME - AHT - FORECAST (sec)':  'handle_time_forecast',
                  'Sum of VOLUME - RECEIVED':'volume', 'Sum of VOLUME - FORECAST': 'volume_forecast'})
df.head()

,ACTIVITY DATE,DIVISION,BUSINESS UNIT,bu,handle_time,handle_time_forecast,volume,volume_forecast
0,1/1/2016,WISE,WISE,WISE Contractual,0.0,NaN,0.0,0.0
1,1/1/2016,College Savings,College Savings,CS Alaska,0.0,NaN,0.0,0.0
2,1/1/2016,College Savings,College Savings,CS John Hancock,0.0,NaN,0.0,0.0
3,1/1/2016,College Savings,College Savings,CS Maryland,0.0,NaN,0.0,0.0
4,1/1/2016,College Savings,College Savings,CS National,0.0,NaN,0.0,0.0